<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383465667281-3nt1irkma7665f05v5t06u6e5430v7tf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383465667281-3nt1irkma7665f05v5t06u6e5430v7tf</string>
	<key>API_KEY</key>
	<string>AIzaSyBLX5NFc1-ikApbChKBv2ztjhGgz2HX-DQ</string>
	<key>GCM_SENDER_ID</key>
	<string>383465667281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ugrussa</string>
	<key>PROJECT_ID</key>
	<string>ugrussa-43804</string>
	<key>STORAGE_BUCKET</key>
	<string>ugrussa-43804.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383465667281:ios:29f16340bf8b76eca863f0</string>
	<key>DATABASE_URL</key>
	<string>https://ugrussa-43804-default-rtdb.firebaseio.com</string>
</dict>
</plist>